@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-primary: #202225;
  --color-secondary: #5865F2;
}



@layer components {
  .sidebar {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto shadow-lg bg-gray-800 text-green-500 hover:bg-green-600 hover:text-white
    rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-bold transition-all duration-100 scale-0
    origin-left group-hover:scale-100;
  }

  

  .inria {
    font-family: "Inria Serif", serif;
  }

  .hero-background {
    background: url("/big-data1.png");
  }
}

@layer background {
  .navbar-background {
    background: linear-gradient(to right, 
    rgba(5, 5, 5, 0.8) 43%,
    rgba(111, 111, 111, 1) 66%);
  }

  .footer-background {
    background: linear-gradient(
    to right,
    rgba(5, 5, 5, 0.8) 0%,
    rgba(111, 111, 111, 1) 100%
    );
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
